{% extends 'todos/base.html' %}
{% load bootstrap4 %}

{% block title %}Список задач{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <a href="{% url 'task_create' %}" class="btn btn-primary btn-lg mb-3 btn-block">Добавить задачу</a>
        <h2>Список задач</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Заголовок</th>
                    <th scope="col">Описание</th>
                    <th scope="col">Приоритет</th>
                    <th scope="col">Дедлайн</th>
                    <th scope="col">Выполнено</th>
                    <th scope="col">Действие</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td>{{ task.title }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.priority }}</td>
                    <td>{{ task.deadline }}</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="taskCheck{{ task.id }}" name="completed" {% if task.completed %}checked{% endif %} onchange="this.form.submit()">
                            <label class="form-check-label" for="taskCheck{{ task.id }}">
                            </label>
                        </div>
                    </td>
                    <td>
                        <a href="{% url 'task_edit' task.id %}" class="btn btn-primary btn-sm">Редактировать</a>
                        <a href="{% url 'task_delete' task.id %}" class="btn btn-danger btn-sm">Удалить</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6">Задачи отсутствуют.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}